@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  background-color: #000;
  margin: 0 auto;
  background: radial-gradient(
    circle at 50% 50%,
    #120035,
    #13002d,
    #120026,
    #10001e,
    #0c0017,
    #06000e,
    #000000
  );
  animation: fadeInAnimation ease-out 3s 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #002aff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c77ff;
}
.container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding-top: 2rem;
}
h1,
.form {
  max-width: 50rem;
  font-family: 'Mulish', sans-serif;
  color: #fff;
  font-weight: 300;
}
.form label {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}
.table {
  width: 100%;
  max-width: 60rem;
  font-family: 'Mulish', sans-serif;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
.table th {
  font-size: 2rem;
  font-weight: 400;
}
.table th:last-child,
.table td:last-child {
  text-align: right;
}

.table td {
  font-size: 1.6rem;
  font-weight: 300;
}

.success,
.error {
  max-width: 20rem;
  text-align: center;
  padding: 6px;
  margin: 5px 0 15px 0;
  border-radius: 3rem;
  margin: 0 auto;
}
.success {
  background-color: #08ff08;
  color: #000;
  margin: 0.4rem 0;
}
.error {
  background-color: #e10600;
  color: #fff;
}

.delete {
  text-decoration: none;
  font-size: 1.4rem;
  margin-left: auto;
}
#title,
#place {
  height: 4.6rem;
}
#title,
#date,
#time,
#place {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50px;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.fa-highlighter {
  font-size: 2rem;
  color: #fff;
}
#submit {
  background: rgb(0, 20, 42);
  color: #fff;
  font-weight: 200;
  font-size: 1.5rem;
  border-radius: 50px;
  margin-top: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
#submit:hover {
  background: #fff;
}
#submit:hover .fa-highlighter {
  color: rgb(0, 20, 42);
}

.fa-trash-alt {
  color: red;
}
@media screen and (max-width: 600px) {
  .container {
    min-width: 100vw;
    padding: 0;
  }
  .table {
    background: transparent;
  }
}
