@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0074d5 #000;
  font-weight: 300;
}
html, body {
  background-color: #000;
}
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow: auto;
  font-weight: 300;
  user-select: none;
  overflow: auto;
  font-family: 'Encode Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: radial-gradient(
    circle at 50% 50%,
    #120035,
    #13002d,
    #120026,
    #10001e,
    #0c0017,
    #06000e,
    #000000
  );
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html::-webkit-scrollbar {
  display: none;
}

html::placeholder {
  color: #050030;
  opacity: 1; /* Firefox */
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 300;
}
.container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding-top: 2rem;
}
h1,
.form {
  max-width: 50rem;
  font-family: 'Mulish', sans-serif;
  color: #fff;
}
.form label {
  color: #fff;

  font-size: 2rem;
}
.form .input {
  margin-bottom: -2rem;
}
.table {
  width: 100%;
  max-width: 60rem;
  font-family: 'Mulish', sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
.table th {
  font-size: 2rem;
}
.table th:last-child,
.table td:last-child {
  text-align: right;
}

.table td {
  font-size: 1.6rem;
}

.success,
.error {
  max-width: 20rem;
  text-align: center;
  padding: 6px;
  margin: 5px 0 15px 0;
  border-radius: 3rem;
  margin: 0 auto;
}
.success {
  background-color: #08ff08;
  color: #000;
  margin: 0.4rem 0;
}
.error {
  background-color: #e10600;
  color: #fff;
}

.delete {
  text-decoration: none;
  font-size: 1.4rem;
  margin-left: auto;
}
#title,
#place {
  height: 4.6rem;
}
#title,
#date,
#time,
#place {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50px;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.fa-highlighter {
  font-size: 2rem;
  color: #fff;
}
#submit {
  background: rgb(0, 20, 42);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 50px;
  margin-top: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
#submit:hover {
  background: #fff;
}
#submit:hover .fa-highlighter {
  color: rgb(0, 20, 42);
}

.fa-trash-alt {
  color: red;
}
@media screen and (max-width: 600px) {
  .container {
    min-width: 100vw;
    padding: 0;
  }
  .table {
    background: transparent;
    margin-top: -4rem;
  }
}
