@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600&display=swap');
:root {
  --inset-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
  --primary-color: #000;
  --secondary-color: #fff;
  --grad-light: #cfebf9;
  --grad-dark: #ffba24;
  --input-toggle: #fabf38;
  --drop-shadow: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
  --transition: all 0.3s ease-out;
  --text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0074d5 #000;
  font-weight: 300;
  background-color: #000;
  background: linear-gradient(to bottom, var(--grad-dark), var(--grad-light));
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
  --grad-dark: #102128;
  --grad-light: #2d5567;
  --input-toggle: #1e3b47;
  --input-location: #294d5d;
}

*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: auto;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html::-webkit-scrollbar {
  display: none;
}

html::placeholder {
  font-weight: 200;
  opacity: 0.9;
}
.themer {
  margin: 2rem auto -2rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-toggle);
  border: 1px solid #ccc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.slider:before {
  position: absolute;
  content: '';
  height: 44px;
  width: 44px;
  left: -6px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: #fffff9 url('favicon/sun1.png') no-repeat center;
  background-size: contain;
  filter: var(--drop-shadow);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

input:checked + .slider {
  background-color: var(--input-toggle);
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
  background: #000 url('favicon/Moon.png') no-repeat center;
  background-size: contain;
  filter: var(--drop-shadow);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}
.slider.round:before {
  border-radius: 2rem;
}

.container {
  width: min(40rem, 100%);
  margin: 0 auto;
  padding-top: clamp(2rem, 4vw, 3rem);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: min(23rem, 100%);
  margin: 0.4rem auto;
}

.input-field label {
  text-align: left;
  color: var(--primary-color);
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: 300;
  margin-bottom: 0.2rem;
  text-shadow: var(--text-shadow);
}

.input-size {
  width: min(23rem, 100%);
  padding: clamp(0.2rem, 2vw, 0.6rem);
  border-radius: 50px;
  border: 1px solid #fff;
  outline: none;
  color: var(--primary-color);
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 300;
  background: var(--input-toggle);
  box-shadow: var(--inset-shadow);
  transition: all 0.2s ease-out;
}

.success,
.error {
  max-width: 23rem;
  text-align: center;
  padding: clamp(0.2rem, 2vw, 0.6rem);
  border-radius: 3rem;
  margin: 2rem auto 0;
  filter: var(--drop-shadow);
}
.success {
  background-color: #08ff08;
  color: #000;
}
.error {
  background-color: #e10600;
  color: #fff;
}

.delete {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.4rem);
  /* margin-left: auto; */
  /* text-align: right; */
}

#submit {
  background: var(--grad-dark);
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 50px;
  padding: 0.4rem;
  margin-top: 0.4rem;
  border: 1px solid #fff;
  cursor: pointer;
  filter: var(--drop-shadow);
  transition: all 0.2s ease-out;
}
.fa-highlighter {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.table {
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
  color: var(--primary-color);
  padding: 2rem;
  border-radius: 0.5rem;
}
.table * {
  font-weight: 300;
  letter-spacing: 1px;
}
.table th {
  text-align: left;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  text-shadow: var(--text-shadow);
}
.table td {
  font-size: clamp(1rem, 3vw, 1.2rem);
  text-shadow: var(--text-shadow);
}

.table th:last-child,
.table td:last-child {
  text-align: center;
  width: 10%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%;
}
.table th:first-of-type,
.table td:first-of-type {
  width: 70%;
}
.todo-list {
  font-weight: 100;
}

.fa-trash-alt {
  color: red;
}
@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  .table th:first-of-type,
  .table td:first-of-type {
    width: 55%;
  }
  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 30%;
  }
}
